<?xml version="1.0"?>
<configuration scan="true">
	<contextName>wangtq-AppName</contextName>
	<property name="LOG_ROOT_PATH" value="/data/logs" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- biz -->
	<appender name="bizRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT_PATH}/boot/biz/boot-biz.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/biz/boot-biz-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- dal -->
	<appender name="dalRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT_PATH}/boot/dal/boot-dal.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/dal/boot-dal-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- service -->
	<appender name="serviceRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT_PATH}/boot/service/boot-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/service/boot-service-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- common -->
	<appender name="commonRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT_PATH}/boot/common/boot-common.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/common/boot-common-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- error -->
	<appender name="errorRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<file>${LOG_ROOT_PATH}/boot/error/boot-error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/error/boot-error-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- intergration -->
	<appender name="intergrationRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT_PATH}/boot/intergration/boot-intergration.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/intergration/boot-intergration-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- performance -->
	<appender name="controllerRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT_PATH}/boot/performance/boot-performance.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT_PATH}/boot/performance/boot-performance-%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="sys.biz" level="INFO" additivity="true">
		<appender-ref ref="bizRolling"/>
	</logger>
	<logger name="sys.service" level="INFO" additivity="true">
		<appender-ref ref="serviceRolling"/>
	</logger>
	<logger name="sys.dal" level="INFO" additivity="true">
		<appender-ref ref="dalRolling"/>
	</logger>
	<logger name="sys.error" level="INFO" additivity="true">
		<appender-ref ref="errorRolling"/>
	</logger>
	<logger name="sys.intergration" level="INFO" additivity="true">
		<appender-ref ref="intergrationRolling"/>
	</logger>
	<logger name="sys.controller" level="INFO" additivity="true">
		<appender-ref ref="controllerRolling"/>
	</logger>
	<logger name="sys.common" level="INFO" additivity="true">
		<appender-ref ref="commonRolling"/>
	</logger>

	<!-- 日志级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="bizRolling"/>
		<appender-ref ref="serviceRolling"/>
		<appender-ref ref="errorRolling"/>
		<appender-ref ref="dalRolling"/>
		<appender-ref ref="commonRolling"/>
		<appender-ref ref="intergrationRolling"/>
		<appender-ref ref="controllerRolling"/>
	</root>
</configuration>
